<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  <servlet-class>
  com.qspyder.jdbc_Student_InsertController.StudentInsertController</servlet-class>
 
 <servlet-name>stregister</servlet-name>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>stregister</servlet-name>
  <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>
